<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Spider - About Me</title>
    <style>
        body {
            text-align: center;
            background-color: #212529;
        }

        #abt_me_text {
            margin: 3rem auto;
            max-width: 30rem;
            width: 30rem;
            color: #FFF;
        }

        .payment-types {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .payment-types img{
            width: 14rem;
            height: 7rem;
        }

        .support-me {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10rem;
            margin-top: 3rem;
        }

        .support-me a{
            color: #FFF;
            text-decoration: none;
            padding-bottom: 1rem;
        }

        p {
            color: #FFF;
        }

    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                
            </ul>
        </nav>
        <div id="banner">
            <figure>
                <img src="<%= banner %>" alt="Banner">
            </figure>
        </div>
        <nav>
            <ul>
                <li><a href="/home">About Me</a></li>
                <li><a href="/galery">Galery</a></li>
                <li><a href="/price-list">Price list</a></li>
                <li><a href="/payment">Payment / Patreon</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="payment-types">
        <h1>PAYMENT TYPES</h1>
        <a href="https://www.paypal.com">
            <img src="https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png" alt="paypal">
        </a>
        <a href="https://www.patreon.com">
            <img src="https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png" alt="paypal">
        </a>
    </div>

    <div class="support-me">
        <h1>SUPPORT ME</h1>
        <p>Patreon:<a href="https://www.patreon.com"> Patreon.me</a></p>
        <p>Patreon:<a href="https://www.paypal.com"> Paypal.me</a></p>
    </div>

    <footer>
        <div>
            <p>&copy Pr1v4cy</p>
        </div>
        <div>
            <ul>
                <li><p>OoSpideroO#5203</p></li>
            </ul>
        </div>
    </footer>
</body>
</html>