nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(33, 8, 52, 80);
    color: white;
    padding: 0 1rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    margin: 0 1rem;
}

nav a {
    color: #FFF;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(33, 8, 52, 80);
    color: white;
}

footer li {
    list-style: none;
}

footer div {
    margin: 0 3rem;
}

body {
    margin: 0;
    padding: 0;
}