<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Spider - About Me</title>
    <style>
        body {
            text-align: center;
            background-color: #212529;
        }

        #abt_me_text {
            margin: 3rem auto;
            max-width: 30rem;
            width: 30rem;
            color: #FFF;
        }

        p {
            color: #FFF;
        }
    
        .striked {
            text-decoration: line-through;
        }

        .underlined {
            text-decoration: underline;
        }

        .cursive {
            font-style: italic;
        }

        .bold {
            font-weight: bold;
        }

    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                
            </ul>
        </nav>
        <div id="banner">
            <figure>
                <img src="<%= banner %>" alt="Banner">
            </figure>
        </div>
        <nav>
            <ul>
                <li><a href="/home">About Me</a></li>
                <li><a href="/galery">Galery</a></li>
                <li><a href="/price-list">Price list</a></li>
                <li><a href="/payment">Payment / Patreon</a></li>
            </ul>
        </nav>
    </header>
    <p><%= lastSeen %></p>
    <h1>ABOUT ME</h1>
    <div id="abt_me_text">
        <p><%= abtMeText %></p>
    </div>
    <footer>
        <div>
            <p>&copy Pr1v4cy</p>
        </div>
        <div>
            <ul>
                <li><p>OoSpideroO#5203</p></li>
            </ul>
        </div>
    </footer>
</body>
<script>
    var abtmeText = document.querySelector('#abt_me_text p').innerHTML;
    while(abtmeText.includes('[s]')) {
        var before = abtmeText.split('[s]')[0];
        var after = abtmeText.split('[s/]')[1];
        sText = abtmeText.substring(abtmeText.indexOf('[s]') + 4, abtmeText.indexOf('[s/]'));
        document.querySelector('#abt_me_text p').innerHTML = before + "<span class='striked'>" + sText + "</span>" + after;
        abtmeText = document.querySelector('#abt_me_text p').innerHTML;
    }

    while(abtmeText.includes('[u]')) {
        var before = abtmeText.split('[u]')[0];
        var after = abtmeText.split('[u/]')[1];
        sText = abtmeText.substring(abtmeText.indexOf('[u]') + 4, abtmeText.indexOf('[u/]'));
        document.querySelector('#abt_me_text p').innerHTML = before + "<span class='underlined'>" + sText + "</span>" + after;
        abtmeText = document.querySelector('#abt_me_text p').innerHTML;
    }

    while(abtmeText.includes('[i]')) {
        var before = abtmeText.split('[i]')[0];
        var after = abtmeText.split('[i/]')[1];
        sText = abtmeText.substring(abtmeText.indexOf('[i]') + 4, abtmeText.indexOf('[i/]'));
        document.querySelector('#abt_me_text p').innerHTML = before + "<span class='cursive'>" + sText + "</span>" + after;
        abtmeText = document.querySelector('#abt_me_text p').innerHTML;
    }

    while(abtmeText.includes('[b]')) {
        var before = abtmeText.split('[b]')[0];
        var after = abtmeText.split('[b/]')[1];
        sText = abtmeText.substring(abtmeText.indexOf('[b]') + 4, abtmeText.indexOf('[b/]'));
        document.querySelector('#abt_me_text p').innerHTML = before + "<span class='bold'>" + sText + "</span>" + after;
        abtmeText = document.querySelector('#abt_me_text p').innerHTML;
    }

</script>
</html>