<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" languague="javascript" src="./errorHandlerHtml.js"></script>
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/banner.css">
    <title>Spider - Login</title>
    <style>
        body {
            text-align: center;
        }

    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">About Me</a></li>
                <li><a href="/galery">Galery</a></li>
                <li><a href="/price-list">Price list</a></li>
            </ul>
        </nav>
        <div id="banner">
            <figure>
                <img src="../../images/me_open_2.png" alt="Banner">
            </figure>
        </div>
    </header>
    <h1>LOGIN</h1>

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button>Log in</button>
    </form>
    <div id="error-msg" class="hidden">
        <p></p>
    </div>
    <footer>
        <div>
            <p>&copy Pr1v4cy</p>
        </div>
        <div>
            <ul>
                <li><p>OoSpideroO#5203</p></li>
            </ul>
        </div>
    </footer>
</body>
</html>