<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/banner.css">
    <title>Spider - Detail</title>
    <style>
        body {
            text-align: center;
        }

        /* image
        **********************************************************/

        #gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 10rem;
        }

        #gallery figure img {
            max-height: 38rem;
            max-width: 38rem;
            width: 100%;
            height: auto; 
        }

        #gallery figcaption {
            background-color: rgba(33, 8, 52, 80);
            color: #FFF;
        }

        h1 {
            color: rgba(33, 8, 52, 80);
            margin-top: 2rem;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/galery">Galery</a></li>
                <li><a href="/price-list">Price list</a></li>
            </ul>
        </nav>
        <div id="banner">
            <figure>
                <img src="../../images/me_closed_2.png" alt="Banner">
            </figure>
        </div>
    </header>
    <main>
        <div>
            <h1>DETAIL</h1>
            <div id="gallery">
                <figure>
                    <img src="<%= image.url %>" alt="<%= image.caption %>">
                    <figcaption><%= image.caption %></figcaption>
                </figure>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <p>&copy Pr1v4cy</p>
        </div>
        <div>
            <ul>
                <li><p>OoSpideroO#5203</p></li>
            </ul>
        </div>
    </footer>
</body>
</script>
</html>